.main-wrap .navbar-default {
  background-color: #caffca;
  border-color: #caffca;
}
.main-wrap .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffbd42;
  -webkit-transition: .4s;
  transition: .4s;
}
.main-wrap .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.main-wrap .slider.round {
  border-radius: 34px;
}
.main-wrap .slider.round:before {
  border-radius: 50%;
}
.main-wrap .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
  margin-top: 13px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.main-wrap .color-changer {
  opacity: 0;
  width: 0;
  height: 0;
}
.main-wrap .carousel-inner {
  margin-top: 50px;
}
.main-wrap .carousel-inner img {
  width: 100%;
}
.main-wrap .carousel-control {
  color: #caffca;
}
.main-wrap .carousel-indicators .active {
  background-color: #caffca;
}
.main-wrap .carousel-indicators li {
  border-color: #caffca;
}
.main-wrap .element-wrap {
  text-align: center;
  margin-bottom: 30px;
  padding: 5px;
  border: 1px #caffca solid;
  border-radius: 3px;
}
.main-wrap .element-wrap:hover {
  box-shadow: 0 0px 10px #caffca;
}
.main-wrap .element-wrap .element-img {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 468px) {
  .main-wrap .element-wrap .element-img img {
    width: 100%;
  }
}
.main-wrap .element-wrap .element-name {
  min-height: 60px;
  margin-bottom: 8px;
}
.main-wrap .element-wrap .element-price {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
}
.main-wrap .btn {
  color: #ffbd42;
  background-color: #caffca;
}
.main-wrap .form-control {
  border-color: #caffca;
}
.main-wrap footer .copyright {
  padding: 15px;
  padding-top: 20px;
  background-color: #caffca;
  color: #ffbd42;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
}
.main-wrap .modal-header {
  border-bottom: 1px solid #caffca;
}
.main-wrap .modal-body p {
  margin-top: 10px;
}
.main-wrap .modal-footer {
  border-top: 1px solid #caffca;
}

.color-changer {
  display: none;
}
.color-changer:checked + .main-wrap .navbar-default {
  background-color: #ffbd42;
  border-color: #ffbd42;
}
.color-changer:checked + .main-wrap .slider {
  background-color: #caffca;
}
.color-changer:checked + .main-wrap .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.color-changer:checked + .main-wrap .carousel-control {
  color: #ffbd42;
}
.color-changer:checked + .main-wrap .carousel-indicators .active {
  background-color: #ffbd42;
}
.color-changer:checked + .main-wrap .carousel-indicators li {
  border-color: #ffbd42;
}
.color-changer:checked + .main-wrap .element-wrap {
  border-color: #ffbd42;
}
.color-changer:checked + .main-wrap .element-wrap:hover {
  box-shadow: 0 0px 10px #ffbd42;
}
.color-changer:checked + .main-wrap .btn {
  color: #caffca;
  background-color: #ffbd42;
}
.color-changer:checked + .main-wrap .form-control {
  border-color: #ffbd42;
}
.color-changer:checked + .main-wrap footer .copyright {
  background-color: #ffbd42;
  color: #caffca;
}
.color-changer:checked + .main-wrap .modal-header {
  border-bottom: 1px solid #ffbd42;
}
.color-changer:checked + .main-wrap .modal-footer {
  border-top: 1px solid #ffbd42;
}
.color-changer:focus + .main-wrap .slider {
  box-shadow: 0 0 1px #caffca;
}

/*# sourceMappingURL=styles.css.map */
